@font-face {
    font-family: 'Auto1_Regular';
    src: url(theme/fonts/Auto1Regular.otf) format('opentype');
}
@font-face {
    font-family: Auto1_Bold;
    src: url(theme/fonts/Auto1Bold.otf) format('opentype');
}
@font-face {
    font-family: Auto1_Bold_Italic;
    src: url(theme/fonts/Auto1BoldItalic.otf) format('opentype');
}
@font-face {
    font-family: Auto1_Black;
    src: url(theme/fonts/Auto1Black.otf) format('opentype');
}

body {
    font-size: 0.75em;
    font-weight:normal;
	color: #363948;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Auto1_Bold','sans-serif';
    margin:0;
}
h1 {
    font-weight: normal;
    font-size: 1.6em;
    padding: 0;
}
h2 {
    font-weight: normal;
    font-size: 1.6em;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 1.4em;
    padding: 0;
	color: #363948;
	margin-bottom:10px;
}
h3 img {
    transform: scale(0.5, 0.5);
	max-height:16px;
	max-width:16px;
}

h4, h5, h6 {
    color: #363948;
    font-size: 1.4em;
    font-weight: normal;
    margin-bottom:1em;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom:1em;
}
a {
	color:#0098D7;
	text-decoration:none;
	font-weight:bold;
}

.compile_content .book_chapter_title {
    color: #363948;
    font-family: 'Auto1_Bold','sans-serif';
    font-size: 1.4em;
    font-weight: normal;
    margin-top:20px;
    line-height:30px;
}

div.no-overflow {
    margin: 0;
    padding: 0;
}

input {
    display: none;
}

form {
    display: none;
}

div#compile_course_head_pdf,
div#compile_course_foot_pdf {
    width:100%;
    background-color:#363948;
    background:url('theme/pix/pixel-background.png');
    padding-top:14px;
	padding-bottom:14px;
    color:white;
    font-family: 'Auto1_Bold','sans-serif';
}

div#compile_course_head_pdf {
    height:120px;
    display:table;
	font-size:1.1em;
	font-weight:normal;
}

div#compile_course_foot_pdf {
    margin-top:10px;
    height:60px;
    text-align:center;
    display:table;
}

div#compile_foot_disclaimer {
    vertical-align:middle;
    font-weight:normal;
    display:table-cell;
}

div#logo {
    text-align:center;
    width:18%;
    float:left;
    clear:none;
    padding-top:6px;
}

div#logo img {
    margin:auto;
}

div#coursetitle {
    float:left;
    clear:none;
    display:table-cell;
    vertical-align:middle;
    max-width:82%;
}

td {
    border: 1px solid #374F6C;
}

table {
    border: 1px solid #374F6C;
    float: right;
    max-width: 100% !important;
    width: 100%;
    border-collapse: collapse !important;
    margin-top: 10px;
	margin-bottom: 20px;
}

table td {
    border: 1px solid #374F6C;
    vertical-align:top;
}

table tbody td {
    padding: 3px !important;
    border: 1px solid #374F6C !important;
    background: #F9F9F9 !important;
    padding:3px;
	color:#374f6c !important;
}

table tbody th  {
    background: none repeat scroll 0 0 #d0f0fd;
    border: 1px solid #374F6C !important;
    color: #374f6c;
    padding: 3px !important;
    text-align: left;
}

table thead td {
    background: none repeat scroll 0% 0% #D0F0FD;
    border: 1px solid #374F6C;
    text-align: center;
    color: #374F6C;
    padding:3px !important;
}

table thead th {
    background: none repeat scroll 0% 0% #374F6C;
    color: #FFF;
    text-align: center;
	vertical-align:text-top;
    border: 1px solid #364E6B;
    padding:3px !important;
}
table thead th:not(th:last-child) {
	border-right: #fff solid 1px !important;
}



/* Align lists with paragraph text in the schedule table */
table.course-schedule tbody tr td ol,
table.course-schedule tbody tr td ul {
	margin-top:0;	
}



/* Icons in Course Schedule */
table.course-schedule {
	width:100% !important;	
}
table.course-schedule tbody tr td:nth-child(2):not(td:last-child) {
	padding-left:21px !important;
}

table.course-schedule tbody td.assignment  {
	background-image:url('theme/pix/assignment.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;
}
table.course-schedule tbody tr td.discuss,
table.course-schedule tbody tr td.discuss_team,
table.course-schedule tbody tr td.discuss_class  {
	background-image:url('theme/pix/discuss.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;
}
table.course-schedule tbody tr td.folder  {
	background-image:url('theme/pix/file.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;
}
table.course-schedule tbody tr td.book  {
	background-image:url('theme/pix/book.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.poll  {
	background-image:url('theme/pix/poll.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.quiz  {
	background-image:url('theme/pix/quiz.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.wiki  {
	background-image:url('theme/pix/wiki.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.choice  {
	background-image:url('theme/pix/choice.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.external_tool  {
	background-image:url('theme/pix/external.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.feedback  {
	background-image:url('theme/pix/feedback.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.glossary  {
	background-image:url('theme/pix/glossary.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.survey  {
	background-image:url('theme/pix/survey.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.folder,
table.course-schedule tbody tr td.file  {
	background-image:url('theme/pix/file.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.page  {
	background-image:url('theme/pix/page.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.url  {
	background-image:url('theme/pix/url.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

table.course-schedule tbody tr td.chat  {
	background-image:url('theme/pix/chat.png');
	background-repeat:no-repeat;
	background-position:2px 5px;
	background-size:14px 14px;	
}

/* Catch large icons!!! */
img.req,
.required img {
    height: 8px;
    width: 8px;
}

/* Remove bullet points from files and folders lists */
.compile_content .filemanager ul li {
    list-style: none outside none;
}

/* Style <hr> */
.compile_section_head hr,
.compile_content hr {
    background: none repeat scroll 0 0 #414555;
    border: medium none;
    height: 2px;
    margin: 10px 0;
}
.compile_content .book_content {
    border-bottom: 2px solid #414555;
    padding-bottom: 10px;
}

/* Don't display <hr> that follow or proceed a div or class that is styled with border top or bottom */
div.book_content + hr,
.compile_intro > hr,
hr:last-of-type {
	display:none;
}

/* Resize icons in the resources file manager folder tree */
.compile_content .filemanager ul li ul li ul li .fp-icon img {
    max-width:14px;
	max-height:14px;
	margin-top:5px;
}

/* Remove double <hr> in unit 0 title */
.compile_section_head {
	margin-top:20px;
	margin-bottom:0px;
}
.compile_section_head > hr:first-child {
	display:none;
}
.compile_section_head h2 {
	margin-bottom:0px;
}

/* Glossary */
table.glossarycategoryheader {
	margin-bottom:0 !important;	
}
table.glossaryentries {
	margin-top:0 !important;	
}
table.glossaryentries tr td:first-child {
	width:20% !important;	
}

/* Blockquotes */
blockquote {
  background: #f9f9f9;
  border-left: 6px solid #0098D7;
  margin: 1.5em 0px;
  padding: 20px 20px 10px 20px;
}
blockquote:before {
  color: #0098D7 !important;
  content:"\201C" !important;
  font-size: 4em !important;
  line-height: 0.1em !important;
  margin-right: 0px !important;
  vertical-align: -0.4em !important;
}
blockquote:after {
  color: #0098D7;
  content:"\201D" !important;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0px;
  vertical-align: -0.4em;
}
blockquote p {
  display: block;
  font-size:16px;
  line-height:25px;
  margin-bottom:15px;
}
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  display: block;
}

/* If we don't limit the width of images to the page width, wkhtmltopdf will 
   shrink the rest of the document until the image fits.  This usually results in an 
   unreadably tiny document. */
img {
	max-width:100%;
}